header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header__brand {
    img {
        width: auto;
        height: rem(32);

    }
}

.header__toggle-btn {
    border: none;
    background: url("../../images/icon-hamburger.svg") no-repeat center center;
    outline: none;
    cursor: pointer;
    width: 2.2rem;
    height: 2.2rem;

    &.active {
        background: url("../../images/icon-close.svg") no-repeat center center;
    }

    @include mq($md-screen) {
        display: none;
    }
}

.header__container {
    max-width: $max-size;
    margin: rem(56) auto 0;
    display: flex;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: space-between;
}