.editor {
    width: 100%;
    padding: 0 1.5rem;
    padding-top: rem(104);
    overflow: hidden;
}

.editor__title {
    font-size: rem(26);
    font-weight: $fw-semi-bold;
    text-align: center;
    color: $color-headings;
    margin-bottom: rem(52);
}

.editor__container {
    max-width: $max-size;
    margin: 0 auto;

    .content {
        margin-top: rem(56);
        text-align: center;
        padding: 1rem;

        &__title {
            font-size: rem(26);
            color: $color-headings;
        }

        &__text {
            margin-top: 1.5rem;
            margin-bottom: rem(56);
            line-height: 1.8;
        }
    }

    .image {

        &__desktop {
            display: none;
        }
    }
}

@include mq($md-screen) {
    .editor {
        padding-top: rem(154);
        padding-bottom: rem(178);
    }

    .editor__title {
        font-size: rem(38);
        margin-bottom: rem(114);
    }

    .editor__container {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        align-items: center;

        .content {
            max-width: rem(510);
            margin-top: 0rem;
            padding: 0;
            text-align: left;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.7);
        }

        .image {
            height: 100%;
            width: 100%;

            &__mobile {
                display: none;
            }

            &__desktop {
                position: absolute;
                object-fit: cover;
                bottom: -10%;
                right: -35%;
                display: block;
                width: 80%;
            }
        }
    }
}

@include mq($lg-screen) {
    .editor__container {
        .image {
            &__desktop {
                bottom: -35%;
            }
        }
    }
}