.intro {
    width: 100%;
    height: rem(600);
    background: url("../images/bg-pattern-intro.svg") no-repeat center center, $color-cta-text;
    border-bottom-left-radius: 6rem;
}

.intro__container {
    max-width: $max-size;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $font-primary;
    color: $color-text;

    .intro__title {
        font-size: rem(34);
        margin-bottom: rem(22);
        line-height: 1.4;
    }

    .intro__text {
        font-size: rem(18);
        margin-bottom: rem(48);
    }

    .intro__btns {
        .btn {
            margin-right: 1rem;
        }
    }
}

@include mq($sm-screen) {
    .intro__container {
        padding-top: rem(112);

        .intro__title {
            font-size: rem(48);
        }
    }
}

@include mq($md-screen) {
    .intro__container {
        .intro__title {
            font-size: rem(59);
        }

        .intro__text {
            font-size: rem(20);
            font-weight: $fw-regular;
        }
    }
}