.laptop {
    width: 100%;
    padding: 0 1.5rem;
    padding-top: rem(104);
    overflow: hidden;
}

.laptop__title {
    font-size: rem(26);
    font-weight: $fw-semi-bold;
    text-align: center;
    color: $color-headings;
    margin-bottom: rem(52);
}

.laptop__container {
    max-width: $max-size;
    margin: 0 auto;

    .content {
        margin-top: rem(56);
        text-align: center;
        padding: 1rem;

        &__title {
            font-size: rem(26);
            color: $color-headings;
        }

        &__text {
            margin-top: 1.5rem;
            margin-bottom: rem(56);
            line-height: 1.8;
            font-size: 1rem;
        }
    }

    .image {

        &__desktop {
            display: none;
        }
    }
}

@include mq($md-screen) {
    .laptop {
        padding-top: rem(154);
        padding-bottom: rem(200);
    }

    .laptop__container {
        display: flex;
        flex-direction: row;
        position: relative;

        .content {
            max-width: rem(570);
            margin-top: 0rem;
            padding: 0;
            text-align: left;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.7);

            &__text {
                letter-spacing: 1px;
            }
        }

        .image {
            height: 100%;
            width: 100%;

            &__mobile {
                display: none;
            }

            &__desktop {
                position: absolute;
                object-fit: cover;
                bottom: -10%;
                left: -35%;
                display: block;
                width: 80%;
            }
        }
    }
}

@include mq($lg-screen) {
    .laptop {}

    .laptop__container {
        padding-top: rem(164);

        .image {
            &__desktop {
                bottom: -25%;
            }
        }
    }
}