footer {
    width: 100%;
    background-color: $color-footer-bg;
}

.footer__brand {
    height: rem(30);
    margin-bottom: rem(88);

    img {
        width: auto;
    }
}

.footer__container {
    max-width: $max-size;
    margin: 0 auto;
    padding: 1rem;
    padding-top: rem(74);
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

    .nav {
        margin-bottom: rem(50);

        &__item {
            font-size: 1rem;
            padding: 0.4rem;
            color: $color-footer-text;

            &:first-child {
                color: $color-text;
                margin-bottom: 2rem;
                ;
            }
        }

        &__link {
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@include mq($sm-screen) {
    footer {
        margin-top: rem(70);
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);

    }
}

@include mq($md-screen) {
    .footer__container {
        text-align: left;
        grid-template-columns: repeat(4, 1fr);

    }
}