.btn {
    border: none;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-family: $fontUbuntu;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    padding: 0.8rem;
}

.btn-primary {
    color: $color-red;
    background-color: $color-white;

    &:hover {
        background: $color-red-light;
        color: $color-white;
    }
}

.btn-outline-primary {
    color: $color-white;
    background: transparent;
    border: 1px solid $color-white;
    border: 1px solid $color-white;

    &:hover {
        background: $color-white;
        color: $color-red-light;
    }

}

.px-1 {
    padding-right: 1.4rem;
    padding-left: 1.4rem;
}